body {
  font-family: 'Roboto', sans-serif;
}

#navicontainer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 4.16%;
  max-width: 100%;
  margin-left: 8.61%;
  margin-right: 8.61%;
  margin-top: 1.04%;
  margin-bottom: 0px;
  padding: 0px;
}

#navicontainer ul li {
  display: inline;
  padding-left: 0.1%;
  font-weight: 20.83%;
  padding-right: 2.6%;
}

#navicontainer li.icon {
  padding: 0px;
  display: inline;
  color: gray;
  font-size: 15px;
}

#navicontainer li.icons {
  padding: 0px;
  display: inline;
  margin-left: 75%;
  color: gray;
  font-size: 15px;
}

li.icon i:hover {
  color: black;
}

li.icons i:hover {
  color: black;
}

li a:hover {
  background-color: #FF82A5;
}

#center {
  text-align: right;
  margin-top: 5.2%;
  margin-right: 20.83%;
  width: 100%;
  display: flex;
}

#text {
  text-align: left;
  font-size: 32px;
    margin-left: 26.04%;
    margin-top: 7.81%;
}

#pro {
    margin-left: 36.45%;
    font-size: 30px;
    padding-right: 5.2%;
    text-align: left;
    color: #fff;
    padding-bottom: 1.14%;
    margin-right: 36.45%;
    padding-top: 17.18%;
}

#con {
    margin-left: auto;
    font-size: 20px;
    text-align: center;
}

.conn {
    text-align: center;
}

#footer {
    margin-left: 78.12%;
}

#race {
    height: 100vh;
    background: url('http://websamuraj.pl/race/automobile.png') no-repeat, url('http://websamuraj.pl/race/suv.png') no-repeat, url('http://websamuraj.pl/race/tourist.png') no-repeat, url('http://websamuraj.pl/race/motor-sports.png') no-repeat, url('http://websamuraj.pl/race/excavators.png') no-repeat, url('http://websamuraj.pl/race/car.png') no-repeat, url('http://websamuraj.pl/race/road2.jpeg') repeat;
    background-size: auto 15%, auto 15%, auto 15%, auto 10%, auto 20%, auto 15%, auto 32%;
    background-position: top 20% left 5%, top 35% left 5%, top 60% left 5%, top 70% left 5%, top 90% left 5%, top 28% left -160%, top 0% left 0%;
    -webkit-transition: all 10s easy-out;
    transition: all 10s ease;
}

#race:hover {
    background-position: top 20% left 85%, top 35% left 95%, top 60% left 45%, top 70% left 75%, top 90% left 20%, top 62% left 280%, top 0% left -1200%;
}

body{margin:0}

.button {
  display: inline-block;
  border-radius: 0.2%;
  background-color: #160B47;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0.26%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#container {
    font-size: 20px;
}
input[type=text],
input[type=password]
{
  width: 350px;
  background-color: #efefef;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
}

input[type=text]:focus,
input[type=password]:focus
{
  -webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
border: 2px solid #a5cda5;
background-color: #e9f3e9;
color: #428c42;
}

input[type=submit]
{
  width: 300px;
  background-color: #36b03c;
  font-size: 20px;
  color: white;
  padding: 15px 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 2px;
  outline: none;
}
input[type=submit]:focus
{
-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input[type=submit]:hover
{
  background-color: #37b93d;
}

input::-webkit-input-placeholder
{
  color: #999;
}

input:focus::-webkit-input-placeholder
{
  color: #428c42;
}

input:-moz-placeholder
{
  color: #999;
}

input:focus:-moz-placeholder
{
  color: #428c42;
}

input::-moz-placeholder
{
  color: #999;
}

input:focus::-moz-placeholder
{
  color: #428c42;
}

input:-ms-input-placeholder
{
  color: #999;
}

input:focus:-ms-input-placeholder
{
  color: #428c42;
}

/* Usunięcie wyglądu linku */
    a{color: black;}
    a:link {text-decoration: none}
    a:visited {text-decoration: none}
    a:active {text-decoration: none}
    a:hover {text-decoration: underline}
